node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.example
.env.local
.env.production
.env.staging
.nyc_output
coverage
.vscode
.idea
*.log
tests
.phpunit.result.cache
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/testing/*
!storage/framework/testing/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep 